/* .saxxsa{
    display: flex;
    width: 100%;
    overflow-x: auto;

}
/* .saxsaxsaxsa .card{
    width: 800px;
} */ 

/* .sasxaxsa{
    position: fixed;
} */
 /* Tailwind config orqali qo'shishingiz mumkin */
/* .scrollbar-none::-webkit-scrollbar {
    display: none;
  }
  
  .scrollbar-none {
    -ms-overflow-style: none; 
    scrollbar-width: none;  
  }
   */

   .overflow-x-auto {
    background: none; /* Backgroundni olib tashlash */
    /* color: rgba(0, 12, 149, 0.429); */
  }
  .projects select option{
    background-color: transparent !important;
  }
  /* Select uchun arrow ni o'zgartirish */
.custom-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent !important;
  border: 1px solid white;
  color: white;
  padding-right: 25px; /* Arrow uchun joy ajratish */
}

.custom-select::after {
  content: '▼'; /* Yoki kerakli simvol */
  position: absolute;
  right: 10px;
  top: 10px;
  pointer-events: none; /* Arrowni ishlamaydigan qilib qilish */
}
